doctype html
html
  head
    meta(charset='utf-8')
    title hello world!!
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js')
    script(src='./js/app.js')
    link(rel='stylesheet', href='./styles/app.css')
  body(ng-app='app', ng-strict-di)
    app
    div.home-message hello
      h2 world
